#
# Copyright 2025-2026 Scott Gigawatt
#
# Licensed under the Apache License, Version 2.0.
#
# .editorconfig: Keep repository text and configuration files consistently
#                formatted across supported editors.
#

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{md,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.toml]
indent_size = 2

[*.{json,json5,sh}]
indent_size = 4

[.secrets.baseline]
indent_size = 2

[Makefile]
indent_style = tab
